/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Common Style */
* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/* Shared style */
header,
main {
    width: 85%;
    margin: 0 auto;
}

.text-primary {
    color: #3A3A3A;
}

.btn-primary {
    background-color: #E02C6D;
    border: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

section {
    margin-bottom: 100px;
}

/* nav style */
header {
    padding: 80px 0px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

nav>ul>li,
a {
    list-style-type: none;
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
}

/* banner style */
.banner {
    display: flex;
    padding-top: 70px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

.banner-content>h1 {
    font-size: 3.25rem;
}

.banner-content>p {
    font-weight: 700;
    padding: 25px 0px;
}

.banner-content>button {
    border-radius: 25px;
}

.banner-img {
    background-image: url(/images/Circle-design.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
}

.banner-img>img {
    width: 100%;
}

.company {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, white, rgb(192, 192, 192), white);
}

/* Popular section */
.popular-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
}

.popular {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 0px 100px;
}

.product-box {
    box-shadow: 0 0px 20px 5px gray;
    padding: 15px;
    border-radius: 5px;
    font-weight: 700;
}

.product-box img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.product-box>h3 {
    font-size: 2rem;
}

.product-box>h3 {
    padding: 15px 0;
}

.product-box>p {
    padding-bottom: 15px;
    color: gray;
}

.product-star {
    color: orange;
    padding: 10px 0;
}

.product-star>span {
    color: gray;
}

.see-more a {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 100px;
    margin-top: 30px;
    color: #E02C6D;
    font-weight: 700;
}

/* gear section start */
.gear-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.gear-content>h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.gear-content>p {
    font-weight: 700;
    padding-bottom: 30px;
}

/* footer */
.footer {
    background-color: rgb(4, 4, 66);
    color: white;
    text-align: center;
    padding: 60px 0;
}

.footer-content h1,
p {
    padding: 4px 0px;
}

.social i {
    padding: 8px 5px;
}



/* Responsive design */

/* for Small Device */
@media screen and (max-width: 576px) {

    nav {
        flex-direction: column;
        gap: 20px;
    }

    .banner {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .company {
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }

    .popular {
        grid-template-columns: 1fr;
        padding: 0 10px;
    }

    .gear-section {
        flex-direction: column;
        gap: 50px;
    }

    .see-more a{
        padding-right: 20px;
    }
}




/* Respnsive for Medium Device */
@media screen and (min-width: 576px) and (max-width: 960px) {

    nav {
        flex-direction: column;
        gap: 30px;
    }

    .banner {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .company {
        gap: 10px;
    }

    .popular {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px;
    }

    .gear-section {
        flex-direction: column;
    }
}